<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
  version="3.0">

  <servlet>
    <servlet-name>ServletApp</servlet-name>
    <servlet-class>c2.ServletApp</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletApp</servlet-name>
    <url-pattern>/my-web-app</url-pattern>
  </servlet-mapping>

</web-app>
